@model CayGiaPha.Member

@{
        ViewBag.Title = "Thêm mới";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
@*<script src="~/assets/jquery-3.3.1.min.js"></script>*@
@*<script src="~/assets/bootstrap/bootstrap.min.js"></script>*@

@*<link href="~/assets/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/assets/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/assets/bootstrap/bootstrap-datetimepicker.css" rel="stylesheet" />
<h2>Thêm mới</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thành viên</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="FullName" class = "control-label col-md-2"  > Họ Tên</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Job, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="Job" class="control-label col-md-2"> Nghề Nghiệp</label>
            <div class="col-md-10">
                @Html.DropDownList("Job",null, "Chọn nghề nghiệp", new { style = "width: 300px; height: 34px;" })
                <input type="hidden" id="Job" name="Job" value="" />
                @*@Html.EditorFor(model => model.Job, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Job, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.AddressID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="Job" class="control-label col-md-2">Địa Chỉ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Memberold, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="Job" class="control-label col-md-2">Thành viên của</label>
            <div class="col-md-10">
                <input type="text" class="form-control" value="Tự động" disabled />
                @*@Html.EditorFor(model => model.Memberold, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Memberold, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.TypeRelationship, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="Job" class="control-label col-md-2">Loại quan hệ</label>
            <div class="col-md-10">
                <input type="text" class="form-control" value="Vợ/Chổng - Con" disabled />
                @*@Html.EditorFor(model => model.TypeRelationship, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TypeRelationship, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Date_Create, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="Job" class="control-label col-md-2">Ngày phát sinh</label>
            <div class="col-md-10">
                <input type="text" class="form-control" value="Tự động hay minh chọn" disabled />
                @*@Html.EditorFor(model => model.Date_Create, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_Create, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="Job" class="control-label col-md-2">Ngày sinh</label>
                <div class="input-group date form_datetime col-md-3" data-date="1990-09-16T05:25:07Z" data-date-format="dd/mm/yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input class="form-control" size="10" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" name="Birthday" value="" /><br />
                @*@Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })*@
            
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.DateOfDeath, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="Job" class="control-label col-md-2">Ngày mất</label>
            <div class="input-group date form_datetime col-md-3" data-date="1990-09-16T05:25:07Z" data-date-format="dd/mm/yyyy - HH:ii p" data-link-field="dtp_input2">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_input2" name="DateOfDeath" value="" /><br />
            @*@Html.EditorFor(model => model.DateOfDeath, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfDeath, "", new { @class = "text-danger" })*@

        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.BirthPlaceId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="Job" class="control-label col-md-2">Nơi sinh</label>
            <div class="col-md-10">
                @Html.DropDownList("BPlace", null, "Chọn nơi sinh", new { style = "width: 300px; height: 34px;" })
                <input type="hidden" id="BirthPlaceId" name="BirthPlaceId" value="" />
                @*@Html.EditorFor(model => model.BirthPlaceId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BirthPlaceId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.BurialPlaceId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="Job" class="control-label col-md-2">Nơi mất</label>
            <div class="col-md-10">
                @Html.DropDownList("BurPlace", null, "Chọn nơi mất", new { style = "width: 300px; height: 34px;" })
                <input type="hidden" id="BurialPlaceId" name="BurialPlaceId" value="" />
                @*@Html.EditorFor(model => model.BurialPlaceId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BurialPlaceId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.CauseOfDeath, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="Job" class="control-label col-md-2">Nguyên nhân mất</label>
            <div class="col-md-10">
                @Html.DropDownList("CoDeath", null, "Chọn nguyên nhân mất", new { style = "width: 300px; height: 34px;" })
                <input type="hidden" id="CauseOfDeath" name="CauseOfDeath" value="" />
                @*@Html.EditorFor(model => model.CauseOfDeath, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CauseOfDeath, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TreeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" value="Tự động" disabled />
                @*@Html.EditorFor(model => model.TreeID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TreeID, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="Job" class="control-label col-md-2">Giới tính</label>
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Sex, "M") Nam
                @Html.RadioButtonFor(model => model.Sex, "F") Nữ
                @*@Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@


<script src="~/assets/jquery-3.3.1.min.js"></script>
<script src="~/assets/bootstrap/bootstrap.min.js"></script>
<script src="~/assets/bootstrap/bootstrap-datetimepicker.js"></script>
<script src="~/assets/bootstrap/bootstrap-datetimepicker.fr.js"></script>

<script type="text/javascript">
    // Xử lý dropdownlist nơi sinh,...
    $(document).ready(function () {
        $('#Job').change(function () {
            var textj = $("#Job").val();
            $('#Job').val(textj);
        });
        $('#BPlace').change(function () {
            //var text1 = $(this).find('option').filter(':selected').text();
            //alert(text1);
            //alert($("#BPlace").val());
            var text1 = $("#BPlace").val();
            $('#BirthPlaceId').val(text1);
            //alert($("#BirthPlaceId").val());
        });

        $('#BurPlace').change(function () {
            var text1 = $("#BurPlace").val();
            $('#BurialPlaceId').val(text1);
        });

        $('#CoDeath').change(function () {
            var text1 = $("#CoDeath").val();
            $('#CauseOfDeath').val(text1);
        });
    });

    $('.form_datetime').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
   

</script>
