@model IEnumerable<CayGiaPha.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";



}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memberold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeRelationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Create)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfDeath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthPlaceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BurialPlaceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CauseOfDeath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th></th>
    </tr>

    @{
        CGPEntities c = new CGPEntities(); 
        }
    @foreach (var item in c.Members)
    {

    @*}
@foreach (var item in Model) {*@
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memberold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeRelationship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Create)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfDeath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthPlaceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BurialPlaceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauseOfDeath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
