@using CayGiaPha.Helper
<!DOCTYPE HTML>
<!--
    Future Imperfect by HTML5 UP
    html5up.net | ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Future Imperfect by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/assets/newlayout/css/main.css" rel="stylesheet" />
    <link href="~/assets/newlayout/css/kendo.common.min.css" rel="stylesheet" />
    <link href="~/assets/newlayout/css/kendo.default.min.css" rel="stylesheet" />
    <link href="~/assets/newlayout/css/kendo.default.mobile.min.css" rel="stylesheet" />
    @*<script src="~/assets/newlayout/css/jquery.min.js"></script>
        <script src="~/assets/newlayout/css/kendo.all.min.js"></script>*@

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common-material.min.css" />
    @*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.min.css" />*@
    @*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.mobile.min.css" />*@

    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.all.min.js"></script>
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href='@Url.Action("Index", "Home")'>Trang Chủ</a></h1>

            <nav class="main">
                <div id="example2">
                    @if (CurrentContext.IsLogged() == true)
                    {
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">@CurrentContext.GetCurUser().Username </button>
                            <div id="myDropdown" class="dropdown-content">
                                <a id="logoutID" href="javascript:;">
                                    Đăng xuất
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button onclick="window.location.href='@Url.Action("Login","Account")'" class="actions">Đăng nhập </button>
                            <button onclick="window.location.href='@Url.Action("Login","Register")'" class="actions">Đăng ký </button>
                        </div>
                    }
                    <style>
                        .dropbtn {
                            /*background-color: #3498DB;*/
                            color: white;
                            padding: 5px;
                            width: 150px;
                            border: none;
                            cursor: pointer;
                            font-family: "Times New Roman", Times, serif;
                        }

                            .dropbtn:hover, .dropbtn:focus {
                                background-color: cornflowerblue;
                            }

                        .dropdown {
                            position: relative;
                            display: inline-block;
                        }

                        .dropdown-content {
                            display: none;
                            /*position: absolute;*/
                            background-color: #f1f1f1;
                            /*min-width: 160px;*/
                            overflow: auto;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                        }

                            .dropdown-content a {
                                color: black;
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;
                            }

                        .dropdown a:hover {
                            background-color: #ddd;
                        }

                        .show {
                            display: block;
                        }
                    </style>
                    <script>

                        /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
                        function myFunction() {
                            document.getElementById("myDropdown").classList.toggle("show");
                        }

                        // Close the dropdown if the user clicks outside of it
                        window.onclick = function (event) {
                            if (!event.target.matches('.dropbtn')) {

                                var dropdowns = document.getElementsByClassName("dropdown-content");
                                var i;
                                for (i = 0; i < dropdowns.length; i++) {
                                    var openDropdown = dropdowns[i];
                                    if (openDropdown.classList.contains('show')) {
                                        openDropdown.classList.remove('show');
                                    }
                                }
                            }
                        }
                    </script>
                </div>

            </nav>
        </header>
        <form id="frmLogout" method="post" action="@Url.Action("Logout","Account")"></form>
        <!-- Menu -->
        
        <script type="text/javascript">
            $(document).ready(function () {
                //$("#menu2X").kendoMenu();

                $('#logoutID').on('click', function () {
                    $('#frmLogout').submit();
                })


            });


        </script>
        <!-- 12312321-->
        @RenderBody()
    </div>

    <!-- About -->
    <section class="blurb" style="border-top:solid">
        <h2 style="text-align:center; padding-top:20px">Quản lý cây gia phả</h2>
        <p style="text-align:center">Nhóm 17</p>
    </section>

   
    <style>
        #tabstrip h2 {
            font-weight: lighter;
            font-size: 5em;
            line-height: 1;
            padding: 0 0 0 30px;
            margin: 0;
        }

            #tabstrip h2 span {
                background: none;
                padding-left: 5px;
                font-size: .3em;
                vertical-align: top;
            }

        #tabstrip p {
            margin: 0;
            padding: 0;
        }

        #cap {
            width: 242px;
            height: 225px;
            margin: 20px auto;
            background-image: url('../content/web/dropdownlist/cap.png');
            background-repeat: no-repeat;
            background-color: transparent;
        }

        .black-cap {
            background-position: 0 0;
        }

        .grey-cap {
            background-position: 0 -225px;
        }

        .orange-cap {
            background-position: 0 -450px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $("#tabstrip").kendoTabStrip({
                    animation: {
                        open: {
                            effects: "fadeIn"
                        }
                    }
                });
            });


            // create DropDownList from select HTML element

        });
    </script>
    <!-- Scripts -->

</body>
</html>